body {
    border-style: solid;
    border-width: 0.2em;
    border-color: gray;
    margin: 1em 10em;
}

#header {
    display: flex;
    justify-content: center;
}

#title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#columns {
    display: flex;
    justify-content: space-between;
}

#leftcol {
    margin-left: 12em;
}

#picture {
    width: 18em;
    border-style: solid;
    border-width: 0.2em;
}

#nametext {
    margin-top: 0.6em;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 0.2em;
    text-align: center;
    font-family: 'Inter';
    font-size: 1.5em;
    background-color: #E8E8E8;
    padding: 0.3em;
}

#typeheader {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 0em;
}

#types {
    display: flex;
    flex-direction: row;
}

.type {
    background-color: #A8A77A;
    border-radius: 0.5em;
    font-family: 'Inter';
    padding: 0.3em 1em;
    margin-right: 1em;
}

#arrows {
    display: flex;
    justify-content: space-around;
    margin-top: 1.2em;
}

.lrbutton{
    border-style: none;
    background-color: #E8E8E8;
    font-size: 3em;
    border-radius: 0.2em;
    padding: 0em 0.8em;
}

.lrbuttonimg {
    width: 1em;
}

#rightcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12em;
}

#infoheader {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.7em;
    margin-top: 0em;
    margin-bottom: 0.8em;
}

#info {
    background-color: #E8E8E8;
    padding: 0em 4em 7em 1.5em;
    margin-bottom: 2em;
}

#infotext {
    font-family: 'Inter';
    font-size: 1.5em;
}

.tabbtn {
    font-family: 'Inter';
    border-style: none;
    background-color: #E8E8E8;
    font-size: 1.5em;
    border-radius: 0.3em;
    padding: 0.3em 0em 0.3em 0em;
    width: 4.5em;
    margin: 0em 0.5em;
}

#infobtn {
    background-color: #7CFF79;
}